.form{
    width: 700px;   
    background-color:#F29492 transparent 77%;
        background-image: radial-gradient(#114357 15%, transparent 22%),
        radial-gradient(#114357 15%, transparent 22%);
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
}



/* background-color:pink;
        background-image:
        radial-gradient(circle at 100% 150%, pink 24%, white 24%, white 28%, pink 28%, pink 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, pink 24%, white 24%, white 28%, pink 28%, pink 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, pink 10%, pink 23%, white 23%, white 30%, pink 30%, pink 43%, white 43%, white 50%, pink 50%, pink 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, pink 5%, pink 15%, white 15%, white 20%, pink 20%, pink 29%, white 29%, white 34%, pink 34%, pink 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, white 5%, pink 5%, pink 15%, white 15%, white 20%, pink 20%, pink 29%, white 29%, white 34%, pink 34%, pink 44%, white 44%, white 49%, transparent 49%, transparent);
        background-size: 100px 50px; 
        
        
        
        
        
        background:
        linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
        linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: #EC173A;
        
        */






        